a {
    color: rgb(230, 27, 27);
    font-size: 20px;
    text-decoration: none;
}

.logo {
    width: 16px;
    height: 14px;
}

@media only screen and (max-width:800px) {
    p {
        color: white;
        font-size: 16px;
    }

    a {
        color: rgb(230, 27, 27);
        font-size: 16px;
        text-decoration: none;
    }
}