p 
{
    font-size: 18px;
    color: rgb(12, 228, 243);
}

.currently_projects
{
    border: inset;
    border-color: rgb(13, 75, 75);
    position: absolute;
    left: 200px;
    width: 800px;
}

prc, factor, modpr 
{
    margin-left: 50px;
}

a, a:hover
{
    color: rgb(75, 130, 233);
}