p
{
    font-size: 20px;
    color: rgb(238, 238, 238);
}

.repo
{
    border: inset;
    border-color: rgb(93, 201, 201);
    position: absolute;
    left: 200px;
    width: 800px;
}

java, prc, cpp, arkscript, roblox, py, lua, php
{
    margin-left: 50px;
}

a, a:hover
{
    color: rgb(70, 206, 224);
}