$background-color-news: rgb(48, 47, 47);

.content-container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 75px;
    margin-top: 100px;
    margin-left: 200px;

    .container {
        position: relative;
        cursor: pointer;
        background: $background-color-news;
        width: auto;
        height: 300px;
        color: rgb(228, 228, 228);
        font-size: 15px;
        padding: 10px 15px;
        transition: 0.5s;
        border-radius: 0.5em;
        transform: scale(1);

        h2 {
            text-transform: uppercase;
        }

        &:hover {
            color: var(--color);
            background: var(--color);
            box-shadow: 0 0 30px var(--color);
        }

        &::before {
            content: "";
            position: absolute;
            inset: 2px;
            background: $background-color-news;
        }

        p, h2 {
            position: relative;
            z-index: 1;
        }
    }
}