@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.faq
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: right;
    min-height: 100vh;

    .container 
    {
        margin: 50px 300px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            color: rgb(20, 20, 20);
        }

        .tab {
            position: relative;
            background: #fff;
            padding: 0 20px 20px;
            box-shadow: 0 15px 25px rgba(0,0,0,0.05);
            border-radius: 5px;
            overflow: hidden;

            .content {
                max-height: 0;
                transition: 1s;
                overflow: hidden;

                p {
                    position: relative;
                    padding: 10px 0;
                    color: #333;
                    z-index: 10;
                }
            }

            input {
                appearance: none;

                &:checked ~ label::after {
                    transform: rotate(135deg);
                }

                &:checked ~ .content {
                    max-height: 100vh;
                }

                &:checked ~ label h2 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: rgba(255,255,255, 0.2);
                    font-size: 8em;
                    justify-content: flex-end;
                    padding: 20px;
                }

                &:checked ~ .content p{
                    color: #fff;
                }

                &:checked ~ label h3{
                    color: #fff;
                }
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                &::after {
                    content: "+";
                    position: absolute;
                    right: 20px;
                    font-size: 2em;
                    color: rgba(0,0,0,0.1);
                    transition: transform 1s;
                }

                h2 {
                    width: 40px;
                    height: 40px;
                    background: #333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 1.25em;
                    border-radius: 5px;
                    margin-right: 5px;
                }

                h3 {
                    position: relative;
                    font-weight: 500;
                    color: #333;
                    z-index: 10;
                }
            }

            &:hover {
                label {
                    &::after {
                        color: #333;
                    }
                }
            }

            &:nth-child(2) label h2 
            {
                background: linear-gradient(135deg, #75f570, #49c628);
            }

            &:nth-child(3) label h2 
            {
                background: linear-gradient(135deg, #62dde6, #376ad8);
            }

            &:nth-child(4) label h2 
            {
                background: linear-gradient(135deg, #cf60dd, #aa0cd1);
            }

            &:nth-child(5) label h2 
            {
                background: linear-gradient(135deg, #ccda55, #d17c0c);
            }
        }
    }
}