$color-background: #3e3f46;
$color-hover: rgb(31, 223, 89);

.a-ul-manager 
{
    font-size: 25px;
    margin-left: 13%;
    margin-top: 7%;
    position: relative;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    transform: skewY(-15deg);
    transition: 0.5s;

    li {
        position: relative;
        list-style: none;
        width: 200px;
        background: $color-background;
        padding: 20px;
        z-index: var(--i);
        transition: 0.5s;

        &:hover {
            background: var(--clr);
            transform: translateX(-50px);

            &::before {
                background: var(--clr);
            }

            &::after {
                background: var(--clr);
            }
        }

        &:hover a {
            color: #fff;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 40px;
            left: -40px;
            height: 100%;
            background: $color-background;
            transform-origin: right;
            transform: skewY(45deg);
            transition: 0.5s;
        }

        &::after {
            content: '';
            position: absolute;
            top: -40px;
            left: 0;
            width: 100%;
            height: 40px;
            background: $color-background;
            transform-origin: bottom;
            transform: skewX(45deg);
            transition: 0.5s;
        }

        &:last-child::after {
            box-shadow: -150px 150px 20px rgba(0,0,0,0.5);
        }

        a {
            text-decoration: none;
            color: #999;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            transition: 0.5s;
        }
    }
}