@use 'menu';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

$background-body: #434750;

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif
}

body 
{
    background: $background-body;
    display: flex;
}

.title
{
    position: absolute;
    width: 99%;
    color: #67a6ee;
    text-align: center;
}

.anim {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 18%;
    margin-top: 12%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    flex-direction: column;

    .animation
    {
        font-size: 4vw;
        color: #252839;
        -webkit-text-stroke: 0.09vw #383d52;
        text-transform: uppercase;

        &:before {
            content: attr(data-text);
            position: absolute;
            width: 0%;
            height: 100%;
            color: var(--color);
            -webkit-text-stroke: 0 #383d52;
            overflow: hidden;
            animation: animtext 6s linear infinite;
        }
    }
}

@keyframes animtext {
    0%, 50%, 100% {
        width: 0;
    }
    20%, 40%, 90%{
        width: 100% ;
    }
}