@use 'menu';
@use 'creationsbox';

img {
  width: var(--width);
  height: var(--height);
}

.Neonbutton{
  padding: 2px 3px;
  color: #2196f3;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.2s;
  text-decoration: none;

  &:hover {
    color: #2196f3;
    background: #0d5791;
    overflow: hidden;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  }
}

.subtitle
{
  font-size: 13px;
}