@import "./news_resolution.scss";

@keyframes comeback {
    from {
        background-color: black;
        transform: scale(1.06);
    }
    to {
        transform: scale(1);
    }
}
  
@keyframes start {
    from {
        background-color: black;
        transform: scale(1);
    }
    to {
        background-color: rgb(55, 62, 73);;
        transform: scale(1.06);
    }
}

.news
{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    transform: scale(1);
    border: 2.5px solid;
    border-color: rgb(39, 39, 39);
    border-radius: 4%;
    animation: comeback 400ms;
    animation-fill-mode: forwards;
    
    p {
        font-size: 12px;
        padding-top: 5%;
        padding-right: 3%;
        padding-bottom: 5%;
        padding-left: 3%;
        color: rgb(219, 217, 217);
    }

    h1 {
        padding-top: 5%;
        color: rgb(219, 217, 217);
        font-size: 15px;
        text-align: center;
    }

    &:hover {
        $page_first_opened: 2;
        cursor: pointer;
        animation: start 400ms;
        animation-fill-mode: forwards;
    }
}

.separate {
    height: 60px;
    width: auto;
}

@media only screen and (min-width: 400px) {
    @include minwidth400();
}


@media only screen and (min-width: 750px) {
    @include minwidth750();
}

@media only screen and (min-width: 1200px) {
    @include minwidth1200();
}

@media only screen and (min-width: 1600px) {
    @include minwidth1600();
}