@mixin minwidth1600() {
    .news
    {
        width: 56%;
    
        p {
            font-size: 15px;
        }

        h1 {
            font-size: 22px;
        }
    }
}

@mixin minwidth1200() {
    .news
    {
        width: 62%;
    
        p {
            font-size: 13.5px;
        }

        h1 {
            font-size: 20px;
        }
    }
}

@mixin minwidth750() {
    .news
    {
        width: 59%;

        p {
            font-size: 12.5px;
        }

        h1 {
            font-size: 19px;
        }
    }
}

@mixin minwidth400() {
    .news
    {
        width: 80%;

        p {
            font-size: 10x;
        }

        h1 {
            font-size: 14px;
        }
    }
}