@media screen and (max-width: 1024px) {
    p, li {
        font-size: 8px;
        color: white;
    }

    .menu {
        font-size: 12px;
    }

    .menu:hover {
        font-size: 14px;
    }

    img {
        width: 20px;
        height: 20px;
    }

    .factor {
        font-size: 8px;
        background-color: rgb(39, 39, 43);
        margin-left: auto;
        margin-right: auto;
        width: 275px;
        height: 170px;
        padding-left: 30px;
        padding-top: 30px;
    }
    
    .factor:hover {
        background-color: rgb(65, 64, 64);
    }
    
    .title_factor {
        text-align: center;
        font-size: 8px;
    }
    
    info_factor {
        font-size: 8px;
        text-align: left;
        color: rgb(219, 136, 40);
    }

    footer {
        font-size: 8px;
        height:10px;
        bottom: 5px;
    }

    .separator_info_factor {
        height: 10px;
    }

    .separate {
        height: 20px;
    }
}