@media screen and (max-width: 500px) {
    p, li {
        font-size:  3px;
        color: white;
    }

    .menu {
        font-size: 5px;
    }

    .menu:hover {
        font-size: 6px;
    }

    img {
        width: 8px;
        height: 8px;
    }

    .factor {
        font-size: 3px;
        background-color: rgb(39, 39, 43);
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 80px;
        padding-left: 30px;
        padding-top: 30px;
    }
    
    .factor:hover {
        background-color: rgb(65, 64, 64);
    }
    
    .title_factor {
        text-align: center;
        font-size: 3px;
    }
    
    info_factor {
        font-size: 3px;
        text-align: left;
        color: rgb(219, 136, 40);
    }

    footer {
        font-size: 4px;
        height:5px;
        width: 97%;
        bottom: 5px;
    }

    .separator_info_factor {
        height: 7px;
    }

    .separate {
        height: 10px;
    }
}